.app {
  display: flex;

}

.campains {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 15%;
  margin-right: 15%;

}
.collviews{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 15%;
  margin-right: 15%;
}
