.campaign{
  background-color:rgb(226, 226, 226);
  color: white;
  margin: 10px;
  padding: 0px;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  flex-basis: auto;
  cursor: pointer;
  display: flex;
}

.campaign:hover{
  opacity: 0.6;
}


.campaign-image{
  width: 40px;
  height: 40px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
 
}

.campaign-title{
  margin-left: 38px;
  margin-top: 20px;
  color: rgb(100, 100, 100);
  vertical-align: middle;
  margin-bottom: 10px;
}
/*
background-color: yellow;
color: white;
margin: 0;
padding: 35px;
/* border: 2px solid red;
padding: 10px;
*/
