.collview{
  background-color: green;
  color: white;
  margin: 0;
  padding: 0px;
  border-radius: 15px;
  flex-basis: auto;
  margin: 10px;
  
}



.c-image{
  width: 182px;
  height: 182px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.c-labeltitle{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* "Lucida Sans Unicode", "Lucida Grande", sans-serif */
.c-labelprice{
  margin-left: 20px;
  margin-top: 5px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.c-labelTL{
  font-size: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.c-button{
  margin-left: 20px;
  margin-top: 5px;
  width: auto;
  height: 40;
  border-radius: 10px;
  background: red;
  color:white;
  cursor: pointer;
}