.header{
  background-color: #191919;
  color: white;
  margin: 0;
  padding: 3px;
}
.h-label{
  font-size: 10px;
  margin-left: 20%;
}
.h-icon{
  margin-left: 24%;
  background-image: url("../images/pizza1.jpg");
  width:10px;
  height:10px;
  background-size:cover;
}
